*{
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('asset/bg.jpg');
    background-position: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* Judul/Header */

.header {
    padding: 30px;
    text-align: center;
    background: #305f72;
    color: white;
    justify-content: center;
}

/* Menu Atas */
.navbar {
    display: flex;
    background-color: #333;
    justify-content: center;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    position: center;
}
.navbar a:hover {
    background-color: #555;

}

