*{
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-position: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #fff;
	background: linear-gradient(-45deg, #7CFC00, #00FF00, #EE7752, #E73C7E, #23A6D5, #23D5AB, #FFFF00);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;

}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
 
@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
 
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* Judul/Header */

.header {
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to right, #4682B4, #00FFFF, #044d31);
    /*background: #305f72; */
    color: rgba(0, 0, 0, 0.363);
    justify-content: center;
}

/* Menu Atas */
.navbar {
    display: flex;
    background-color: #333;
    justify-content: center;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    position: center;
}
.navbar a:hover {
    background-color: #555;

}

